@import './config.scss';


.chapter-mobile .controls {
  z-index: 1;
  height: 100%;

  position: relative;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  button.prevBtn {
    left: 0px;
  }
  button.nextBtn {
    right: 0px;
  }
}






.chapter-mobile .rwnd,
.chapter-mobile .fwd {
  color: $bright-green;
  fill: $bright-green;
  height: 28px;

  position: absolute;
  bottom: 10%;
  cursor: pointer;
}

.chapter-mobile .rwnd {
  left: 25%;
}
.chapter-mobile .fwd {
  transform: scaleX(-1);
  right: 25%;
}


