@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Fonts
$main-font-family: 'Montserrat', sans-serif;

$large-font-size: 1.2rem;
$large-font-weight: 700;
$medium-font-size: 0.8rem;
$medium-font-weight: 700;
$small-font-size: 0.6rem;
$small-font-weight: 500;

// Sizes
$mobile-header-height: 16vh;
$mobile-player-height: 76vh;
$mobile-footer-height: 8vh;

$desktop-header-height: 200px;
$desktop-player-height: calc(100vh - 200px);
$desktop-footer-height: 400px;

$progress-circle-height: 45%;

// Paddings and margins


$small-padding: 24px;


// Colors
$dark-blue: #050F38;
$bright-green: #50FB00;


body {
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
}

h1 {
  font-size: $large-font-size;
  font-weight: $large-font-weight;
  margin: 0;
}

h3 {
  font-size: $medium-font-size;
  font-weight: $medium-font-weight;
  margin: 0;
}

h5 {
  font-size: $small-font-size;
  font-weight: $small-font-weight;
  margin: 0;
}

p {
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.hide {
  display: none;
}
