@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Fonts
$main-font-family: 'Montserrat', sans-serif;

$large-font-size: 1.2rem;
$large-font-weight: 700;

$medium-font-size: 0.9rem;
$medium-font-weight: 700;

$small-font-size: 0.7rem;
$small-font-weight: 400;

// Sizes
// $mobile-header-height: 16vh;
$mobile-player-height: 76vh;
$mobile-footer-height: 8vh;

$desktop-header-height: 200px;
$desktop-player-height: calc(100vh - 200px);
$desktop-footer-height: 400px;

$progress-circle-height: 45%;

// Paddings and margins


$small-padding: 24px;


// Colors
$dark-blue: #050F38;
$bright-green: #50FB00;
