@import './config.scss';

.chapter-mobile .play,
.chapter-mobile .pause {
  color: $bright-green;
  fill: $bright-green;
  height: 35%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.chapter-mobile .play {
  margin-left: 6px;
}

.chapter-desktop .play,
.chapter-desktop .pause {
  height: 56px;
  cursor: pointer;
}


// RESPONSIVE TEMPLATE
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// iPhoneX, Pixel 2XL and taller...
@media (min-height: 800px) {
  .chapter-mobile .play,
  .chapter-mobile .pause {
    height: 30%;
  }
}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
