.chapter-mobile .play,
.chapter-mobile .pause {
  color: yellow;
  fill: yellow;
  height: 35%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.chapter-mobile .play {
  margin-left: 10px;
}



.chapter-desktop .play,
.chapter-desktop .pause {
  height: 56px;
  cursor: pointer;
}
