@import './config.scss';


#mobile-app .play,
#mobile-app .pause {
  color: $bright-green;
  fill: $bright-green;
  height: 35%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#mobile-app .play {
  margin-left: 6px;
}


#desktop-app .pp-background-circle {
  background-color: $dark-blue;

  height: 4rem;
  width: 4rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#desktop-app .play,
#desktop-app .pause {
  color: $bright-green;
  fill: $bright-green;
  height: 40%;
  cursor: pointer;
}

#desktop-app .play {
  margin-left: 6px;
}

// RESPONSIVE TEMPLATE
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// iPhoneX, Pixel 2XL and taller...
@media (min-height: 800px) {
  .chapter-mobile .play,
  .chapter-mobile .pause {
    height: 30%;
  }
}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
