.prev,
.next {
  color: black;
  fill: black;

  position: absolute;
  top: 50%;
  cursor: pointer;
}

.prev {
  left: 0px;
  transform: translateY(-50%) scaleX(-1);
}

.next {
  right: 0px;
  transform: translateY(-50%);
}

.chapter-mobile .prev,
.chapter-mobile .next {
  height: 32px;
}

.chapter-desktop .prev,
.chapter-desktop .next {
  height: 32px;
}

.chapter-desktop .prev {
  margin-left: 24px;
}

.chapter-desktop .next {
  margin-right: 24px;
}
