@import './config.scss';

.swiper-container {
  width: 100%;
  height: 100%;

  // position: absolute;
}

.swiper-slide {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;

  opacity: 0.4;
  background-color: white;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: $bright-green;
}

.swiper-button-disabled {
  opacity: 0;
}
