@import './config.scss';


.chapter-mobile {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 30% 40% 30%;

  background-repeat: no-repeat;
  background-size: cover;
}

.chapter-mobile .middle .mobile-horizontal-container {
    height: 100%;
}


.chapter-mobile .chapter-details {
  background: linear-gradient(80deg, rgba(0, 0, 0, 0.4) 10%, rgba(255, 255, 255, 0) 85%);;
  // backdrop-filter: blur( 3.0px );
  //   -webkit-backdrop-filter: blur( 3.0px );

  width: 100%;

  padding-top: 0.5rem;
  padding-bottom: 1rem;
  z-index: 2;

  color: white;

  .chapter-number {
    margin-top: 0px;
  }

  .chapter-title {
    font-weight: 400;
    font-style: italic;
    margin-top: 4px;
  }


}


// Externalise
.chapter-mobile .timings {
  width: 100%;
  position: absolute;
  bottom: 20%;
  display: flex;
  justify-content: space-around;

  z-index: 2;

  .current-time,
  .time-remaining {
    color: $bright-green;
    margin: 0;
  }
}



