#desktop-app .chapter-desktop {
  // background-color: orange;

  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;

  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}

#desktop-app .chapter-details-container {
  background-color: white;

  width: 66%;
  padding: 2rem;
  padding-top: 1rem;

  position: relative;
  left: -32px;
}

#desktop-app .top-container {
  display: flex;
  align-items: flex-start;

  .pp-container {
    padding-right: 2rem;
  }
  .chapter-details {
    .chapter-header {

    }
    .chapter-title {
      font-weight: 400;
      font-style: italic;
      margin-top: 0.4rem;
    }
  }
}


#desktop-app .times {
    display: flex;
    justify-content: flex-start;

    .current-time {
      width: 3rem;
      // background-color: yellow;
    }
    .slash {
      margin-right: 0.2rem;
      margin-left: 0.5rem;
      font-weight: 400;
    }
    .time-remaining {
      width: 3.5rem;
      font-weight: 400;
      text-align: left;
      // background-color: yellow;
    }
}





