@import './config.scss';

.footer-mobile {
  display: flex;
  align-items: center;

  position: relative;
  bottom: 0px;

  .mobile-horizontal-container {
    padding-top: 8px;
    padding-bottom: 8px;

    .navigation-bar {
      background-color: white;
      width: 100%;

      display: flex;
      justify-content: space-around;

      .navigation-icon {
        // background-color: yellow;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .fas,
        .far {
          font-size: 1.4rem;
          // margin-bottom: 4px;
        }

        .label {
          font-size: 0.6rem;
          margin: 0;

          display: none;
        }
      }
    }
  }
}
