@import './config.scss';

header {
  width: 100%;

  display: flex;
  align-items: center;
}

.mobile-header {
  height: $mobile-header-height;
}

.desktop-header {
  height: $desktop-header-height;
}





.exhibition-details {
  background-color: white;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.exhibition-title {
  margin: 0;
}

.exhibition-location {
  margin: 0;
}

.exhibition-dates {
  margin: 0;
}
