@import './config.scss';

header {
  width: 100%;

  display: flex;
  align-items: flex-end;

  position: relative;
}

.mobile-header {
  height: $mobile-header-height;
}

.exhibition-details {
  background-color: white;
  width: 100%;

  display: flex;
  flex-direction: column;

  padding-bottom: 0.5rem;

  .exhibition-title {
    margin-bottom: 6px;
  }

  .exhibition-location,
  .exhibition-dates {
    display: flex;
  }

  .exhibition-dates {
    margin-top: 4px;
  }
}






.desktop-header {
  height: $desktop-header-height;
}

.fas {
  width: 1rem;
  font-size: $medium-font-size;
}

.fa-clock {
  font-size: $small-font-size;
  position: relative;
  top: 0.1rem;
}
