@import './config.scss';


header.mobile-header,
header.desktop-header {
  width: 100%;

  display: flex;
  align-items: flex-end;

  position: relative;
  top: 0px;

  a,
  a:visited,
  a:hover,
  a:active {
    color: $dark-blue;
  }
  .fas {
    width: 1rem;
    font-size: $medium-font-size;
  }
  .fa-clock {
    font-size: $small-font-size;
    position: relative;
    top: 0.1rem;
  }
}

header.mobile-header {
  .mobile-horizontal-container {
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    .exhibition-details-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .exhibition-details {
        width: 100%;

        display: flex;
        flex-direction: column;

        .sub-title {
          font-style: italic;
          opacity: 0.9;
          margin-bottom: 0.5rem;
        }
        .location,
        .dates {
          display: flex;
        }
        .dates {
          margin-top: 4px;
        }
      }
    }

  }
}

header.desktop-header {
  height: $desktop-header-height;
}

// RESPONSIVE TEMPLATE
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-height: 700px) {
  header.mobile-header {
    .mobile-horizontal-container {
      padding-top: 2rem;
      padding-bottom: 1rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }

