// STYLING INDEX.HTML ELEMENTS - LATER ROR
// Styling elements outside of React
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.hide {
  display: none;
}

body {
  // background-color: rgba(0,0,0,0.08);
  margin: 0;
  padding: 0;

  font-family: $main-font-family;

  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;

  // justify-content: center;
  // align-items: center;

  overflow: hidden;
}

header {
  width: 100%;
  min-height: $banner-height;
  max-height: $banner-height;

  display: flex;
  align-items: center;

  color: $dark-blue;
}

#root-player {
  background-color: green;
  width: 100%;
  min-height: $player-height;
  max-height: $player-height;
  overflow: auto;
  position: relative;
}

footer {
  background-color: white;
  width: 100%;
  min-height: $footer-height;
  max-height: $footer-height;

  display: flex;
  align-items: center;

  color: $dark-blue;
}

.exhibition-details {
  background-color: white;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.exhibition-title {
  margin: 0;
}

.exhibition-location {
  margin: 0;
}

.exhibition-dates {
  margin: 0;
}


// RESPONSIVE TEMPLATE
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
