@import './config.scss';

.player {
  width: 100vw;
  overflow: hidden;
}

.mobile-player {
  // height: $mobile-player-height;
  flex-grow: 1;
}

.desktop-player {
  height: $desktop-player-height;
}






