@import './config.scss';

$progress-bar-height: 0.3rem;

#desktop-app .progress-bar {
  height: 2rem;
  width: 100%;
  margin-top: 1.5rem;

  position: relative;

  .total-time,
  .time-elapsed {
    height: $progress-bar-height;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 50px;
  }

  .total-time {
    background-color: $dark-blue;
    width: 100%;

    z-index: 1;

    cursor: pointer;
  }

  .time-elapsed {
    background-color: $bright-green;
    height: $progress-bar-height * 1.25;
    width: 101%;
    left: -1px;
    z-index: 2;
    cursor: pointer;
  }
}
