@import './config.scss';

$font-size: 1.4rem;

.chapter-mobile .socials {
  margin-top: 1rem;

  a {
    color: white;
  }

  .fas,
  .far,
  .fab {
    font-size: $font-size;
    margin-right: 0.7rem;
    cursor: pointer;
  }

  .fa-bookmark {
    font-size: $font-size - 0.1rem
  }

  .fas.fa-bookmark {
    color: $bright-green;
  }
}

.chapter-desktop .socials {
  .fas,
  .far,
  .fab {
    font-size: $font-size;
    margin-right: 1rem;
    cursor: pointer;
  }
}
