$font-size: 1.17rem;

.chapter-mobile .socials {
  margin-top: 1rem;

  .fas {
    font-size: $font-size;
    margin-right: 0.5rem;
    cursor: pointer;
  }
}

.chapter-desktop .socials {

  .fas {
    font-size: $font-size;
    margin-right: 1rem;
    cursor: pointer;
  }
}
