@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Fonts
$main-font-family: 'Montserrat', sans-serif;

// Sizes
$banner-height: 16vh;
$player-height: 76vh;
$footer-height: 8vh;

// Paddings and margins


$small-padding: 24px;

// Colors
$dark-blue: #050F38;
