@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Fonts
$main-font-family: 'Montserrat', sans-serif;

// Sizes
$banner-height: 16%;
$player-height: 76%;
$footer-height: 8%;
$progress-circle-height: 45%;

// Paddings and margins


$small-padding: 24px;

// Colors
$dark-blue: #050F38;
