@import './config.scss';

.chapter {
  background-color: green;

  height: 100%;
  width: 100%;
  // padding: 32px 20px;
}

.chapter-details {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  width: 100%;
  z-index: 2;
}

.chapter-details > .chapter-title {
  margin-top: 0px;
}

.controls {
  background-color: red;

  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.controls .play,
.controls .pause {
  color: yellow;
  fill: yellow;
  height: 100px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.play {
  margin-left: 10px;
}

.rwnd,
.fwd {
  color: yellow;
  fill: yellow;
  height: 32px;

  position: absolute;
  bottom: 10%;
}

.rwnd {
  left: 25%;
}

.fwd {
  transform: scaleX(-1);
  right: 25%;
}

// TEMP
.pBtn {
  background-color: yellow;
  height: 40px;
}

.timings {
  width: 100%;
  position: absolute;
  bottom: 20%;
  display: flex;
  justify-content: space-around;

  z-index: 2;
}

.timings .current-time,
.timings .time-remaining {
  color: yellow;
  margin: 0;

}


