@import './config.scss';

$stroke-width: 6px;
$color-total-time: rgba(1, 1, 1, 0.2);
$color-time-elapsed: yellow;



.progress-circle {
  height: $progress-circle-height;

  position: relative;
  left: 50%;
  top: 50%;
  transform: scaleX(-1) translate(50%, -50%);
}

.circle-container {
  fill: none;
  stroke: none;
}

.progress-circle .total-time {
  stroke-width: $stroke-width;
  stroke: $color-total-time;
}

.progress-circle .time-elapsed {
  stroke: $color-time-elapsed;
  fill-rule: nonzero;
  stroke-width: $stroke-width + 1;
  stroke-linecap: round;

  transform: rotate(88deg);
  transform-origin: center;
  // transition: 1s linear all;
}
