#player {
  background-color: orange;
  width: 100%;
  min-height: 100%;
}

.chapter-title {
  margin-top: 0px;
}

.pBtn {
  background-color: yellow;
  height: 40px;
}

.chapter {
  padding: 32px 0px;
}

.hide {
  display: none;
}
