#player {
  background-color: orange;

  width: 100%;
  height: 100%;
}

.chapter-title {
  margin-top: 0px;
}

.pBtn {
  background-color: yellow;
  height: 40px;
}

.chapter {
  margin-bottom: 56px;
}
