body {
  background-color: rgba(0,0,0,0.08);
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#body-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: white;
  width: 100%;
  height: 140px;
}

#root-ae-player {
  width: 100%;
  flex-grow: 1;
}

footer {
  background-color: white;
  width: 100%;
  height: 60px;
}

// RESPONSIVE TEMPLATE
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #body-container {
    height: 823px;
    max-height: 90vh;
    max-width: 411px;
  }

}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
